{% extends "./layout.njk" %}

{% block title %}
    <title>Sobre - Foodfy Restaurante</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/about.css">
{% endblock styles %}

{% block main %}
    <div class="main">

        <h1>{{ items.aboutTitle }}</h1>

        {% for about in messages %}
            <p>{{ about.aboutMessage }}</p>
        {% endfor %}

        <h2>{{ items.beginningTitle }}</h2>

        {% for beginning in messages %}
            <p>{{ beginning.beginningMessage }}</p>
        {% endfor %}
        
        <h2>{{ items.recipesTitle }}</h2>

        {% for recipe in messages %}
            <p>{{ recipe.recipesMessage }}</p>
        {% endfor %}
    </div>

{% endblock main %}