{% extends "./layout.njk" %}

{% block title %}
    <title>Receitas - Foodfy Restaurante</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="styles/cards.css">
{% endblock styles %}

{% block main %}
    <div class="main">
      <div class="cards-chefs">
            {% for item in chefs %}
                <div class="card-chefs">
                    <div class="logo">
                        <img src="{{item.avatar}}" alt="{{item.name}}">
                    </div>
                    <div class="details">
                        <h3>{{item.name}}</h3>
                        <span>{{total}} Receitas</span>
                    </div>
                </div>
            {% endfor %}
        </div>
   </div>
{% endblock main %}

{% block scripts %}
    <script src="scripts/index.js"></script>
{% endblock scripts %}