{% extends "./layout.njk" %}

{% block title %}
    <title>{{ items.company }}</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/cards.css">
{% endblock styles %}

{% block main %}
    <div class="jumbotron">
        <div class="description">
            <h1>{{ items.description }}</h1>
            <p>{{ items.details }}</p>
        </div>
        <div class="image">
            <img src="{{ items.imageCheff }}" alt="Cheff">
        </div>
    </div>

    <div class="main">
        <h2>Página não encontrada!</h2>
    </div>
{% endblock main %}