{% extends "./layout.njk" %}

{% block title %}
    <title>Receitas - Foodfy Restaurante</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/recipes.css">
{% endblock styles %}

{% block main %}
    <div class="main">
        <div class="recipe-image">
            <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
        </div>
        <div class="details-title">
            <h1>{{ recipe.title }}</h1>
            <p>{{ recipe.chef }}</p>
        </div>

        <div class="title-recipes">
            <h2> 
                <i class="fa fa-list" aria-hidden="true"></i> Ingredientes
            </h2>
            <span class="ingredients">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </span>
        </div>

        <ul id="list-ingredients" class="active">
            {% for list in recipe.ingredients %}
                <li>{{ list }}</li>
            {% endfor %}
        </ul>

        <div class="title-recipes">
            <h2> 
                <i class="fa fa-list" aria-hidden="true"></i> Modo de preparo
            </h2>
            <span class="method-preparation">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </span>
        </div>

        <ul id="list-method-preparation" class="active">
            {% for list in recipe.preparation %}
                <li>{{ list }}</li>
            {% endfor %}
        </ul>

        <div class="title-recipes">
            <h2> 
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                 Informações adicionais
            </h2>
            <span class="information">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </span>
        </div>

        <p id="list-information" class="active">{{ recipe.information }}</p>
    </div>
{% endblock main %}

{% block scripts %}
    <script src="scripts/index.js"></script>
{% endblock scripts %}
