.options {
    display: flex;
}

.options a {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    color: white;
    background-color: red;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
}

.detials-chefs {
    width: 100%;
    text-align: center;
    margin-bottom: 36px;
}

.detials-chefs img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 30px;
}

.detials-chefs p {
    font-size: 36px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 4px;
}

.detials-chefs span {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: var(--third-color);
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
}

.cards .card {
    display: flex;
    align-items: center;
}

.card .logo img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.card .details h3 {
    font-size: 18px;
    font-weight: 300;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.card .details a {
    font-size: 14px;
    font-weight: bold;
    color: var(--secundary-color);
}

.card .details a:hover {
    opacity: 0.6;
}

.card-recipes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin: 26px 0 30px 0;
}

.card-recipes .card {
    display: flex;
}

.card-recipes .card img {
    width: 172px;
    height: 80px;
    object-fit: cover;
    border-radius: 8.57px;
    margin-right: 16px;
}

.card-recipes .card h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: var(--primary-color);
    margin-bottom: 5px;
}

.card-recipes .card h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: var(--third-color);
    margin-bottom: 10px;
}

.card-recipes .card span {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    color: var(--secundary-color);
}