.main h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin: 50px 0 20px;
    color: var(--color-black);
}

.main h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 30px 0 20px;
    color: var(--color-black);
}

.main p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #444444;
    margin-bottom: 16px;
}