.cards-recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.cards-recipes .card img {
    width: 300px;
    height: 140px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
}

.cards-recipes .card h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: var(--color-black);
    margin-bottom: 5px;
}

.cards-recipes .card p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: var(--color-cinza);
    margin-bottom: 30px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.cards .card {
    display: flex;
    align-items: center;
}

.card .logo img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.card .details h3 {
    font-size: 18px;
    font-weight: 300;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.card .details a {
    font-size: 14px;
    font-weight: bold;
    color: var(--secundary-color);
}

.card .details a:hover {
    opacity: 0.6;
}