{% extends "../layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/admin/styles/recipes.css">
{% endblock styles %}

{% block main %}

    <section>
        <div class="container">
            <div class="title">
                <h2>Gerenciar Receitas</h2>
                <a href="/admin/recipes/create" class="button save">Nova Receita</a>
            </div>

            <div class="cards-recipes">
                {% for item in recipes %}
                    <div class="card">
                        <div class="card-left">
                            <img src="{{ item.image }}" alt="Imagem da Receita {{ item.title }}">
                        </div>
                        <div class="card-right">
                            <h2>{{ item.title }}</h2>
                            <h4>{{ item.chef }}</h4>
                            <a href="/admin/recipes/{{item.id}}/show">Visualizar</a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

{% endblock main %}